.title {
    padding-top: 20px;
    color: #fbc3bc;
    text-align: center;
    font-family: Snell Roundhand, cursive;
}

.c-tab__zhu {
    font-size: 10px;
    padding-top: 20px;
    text-align: center;

}

.backhome {
    position: absolute;
    right: 10px;
}